#user_cate {margin: 0;} 
#user_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#user_cate ul {zoom:1}
#user_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#user_cate li {display:inline-block;}
#user_cate a {display:block;line-height:28px;padding:5px 15px;border:1px solid #e5e5e5;color:#333; background:fafafa;}
#user_cate li.active a {font-weight:bold; background:#fff; border-bottom:1px solid #fff;}
#user_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none;background:#fff;color:#333;font-weight:bold;}
#user_cate #user_cate_on {z-index:2;background:#fff;color:#fff;font-weight:bold;border-bottom:1px solid #fff;}
-webkit-box-shadow:inset 0 2px 5px rgb(33, 135, 202);
-moz-box-shadow:inset 0 2px 5px rgb(33, 135, 202);
box-shadow:inset 0 2px 5px rgb(33, 135, 202)}
.td_subject img {margin-left:5px} 

/* SLY 분류탭 */
.sly-tab {border:0; overflow:hidden; }
.sly-tab .d-flex { border-left:1px solid #e5e5e5; }
.sly-tab li a {	display:block; text-align:center; border:1px solid #e5e5e5;	border-left:0; color:#333; background:#fafafa; }
.sly-tab li.active a { font-weight:bold; background:#fff; border-bottom:1px solid #fff; }
.sly-tab .sly-btn {	display:none; text-align:center; border:1px solid #e5e5e5; color:#333; background:#fff; }
.sly-tab .sly-btn:hover { background:#fafafa; }
.sly-tab .sly-btn.sly-next { border-left:0; }
.sly-tab hr { display:block; border-top:1px solid #e5e5e5; height:1px; margin:0; margin-top:-1px; padding:0; }

/* Coupon */
.coupon_noti {float:right; margin-top:20px; margin-right: 300px;}
.coupon_noti ul {margin:10px;}
.coupon_noti ul li {list-style-type:disc; margin-left:12px; margin-bottom:5px;}

.coupon_info {float:left;margin-top:80px;}
.coupon_info .p-20 {padding:25px 0px;}
.coupon_info .p-20 .coupon_label {font-size:12px; line-height: 1.5; padding: 5px 25px; float:left;margin:0px 20px;}
.coupon_info .p-20 .coupon_input {font-size:12px; line-height: 1.5; padding: 5px 0px; float:left; width: 250px;}
.coupon_info .p-20 .coupon_btn {padding-left: 20px; padding-right:20px; margin-left: 45px;margin-top: 20px;}
