#user_cate {margin-left: 20px;} 
#user_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#user_cate ul {zoom:1}
#user_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#user_cate li {display:inline-block;}
#user_cate a {display:block;line-height:28px;padding:5px 15px;border:1px solid #e5e5e5;color:#333; background:fafafa;}
#user_cate li.active a {font-weight:bold; background:#fff; border-bottom:1px solid #fff;}
#user_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none;background:#fff;color:#333;font-weight:bold;}
#user_cate #user_cate_on {z-index:2;background:#fff;color:#fff;font-weight:bold;border-bottom:1px solid #fff;}
-webkit-box-shadow:inset 0 2px 5px rgb(33, 135, 202);
-moz-box-shadow:inset 0 2px 5px rgb(33, 135, 202);
box-shadow:inset 0 2px 5px rgb(33, 135, 202)}
.td_subject img {margin-left:5px} 

/* SLY 분류탭 */
.sly-tab {border:0; overflow:hidden; }
.sly-tab .d-flex { border-left:1px solid #e5e5e5; }
.sly-tab li a {	display:block; text-align:center; border:1px solid #e5e5e5;	border-left:0; color:#333; background:#fafafa; }
.sly-tab li.active a { font-weight:bold; background:#fff; border-bottom:1px solid #fff; }
.sly-tab .sly-btn {	display:none; text-align:center; border:1px solid #e5e5e5; color:#333; background:#fff; }
.sly-tab .sly-btn:hover { background:#fafafa; }
.sly-tab .sly-btn.sly-next { border-left:0; }
.sly-tab hr { display:block; border-top:1px solid #e5e5e5; height:1px; margin:0; margin-top:-1px; padding:0; }

/* Coupon create */
.coupon_noti {margin-top:20px; margin-left: 50px;}
.coupon_noti ul {margin:10px;}
.coupon_noti ul li {list-style-type:disc; margin-left:12px; margin-bottom:5px;}

.coupon_info {float:left;margin-top:20px;}
.coupon_info h6 {margin-left: 180px;}
.coupon_info .p-20 {padding:25px 0px;}
.coupon_info .p-20 .coupon_label {font-size:12px; line-height: 1.5; padding: 5px 25px; float:left;margin:0px 20px;}
.coupon_info .p-20 .coupon_input {font-size:12px; line-height: 1.5; padding: 5px 0px; float:left; width: 200px; text-align:center;}
.coupon_info .p-20 .coupon_btn { margin-left: 45px; margin-top: 20px; padding-top: 5px; padding-bottom: 5px; width: 200px; color: #000;}

.coupon_current {float:left; margin-top:20px; margin-left: 150px;}
.coupon_current .coupon_div {padding-top: 30px; margin-left: 40px;}
.coupon_current .coupon_div .count {text-decoration: underline; letter-spacing: 5px; line-height: 1.5; font-size: 12px;}

/****************************************************************************************************************************/

/* Coupon accetp */
/* #coupon_accept {margin-top: 30px; margin-left: 20px; line-height: 2;}
#coupon_accept .coupon_noti {margin-top: 100px; line-height: 2;}
#coupon_accept span {margin-left:3px; color: blue;}  */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8; 
}

table th {
    border: 1px solid #ddd;
    padding: .625em;
    text-align: center;
}
table td {
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.accept_btn {background: #00FFFF; width: 100%; height: 100%;   padding: .625em; margin:none; border: none;}
.disabled {background: #6495ED; width: 100%; height: 100%; padding: .625em; margin:none; border: none;}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    margin-left: 20px;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  
  .accept_btn {background: #00FFFF; width: 100%; height: 100%;}
    .disabled {background: #6495ED; width: 100%; height: 100%;}
}

/*****************************************************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

.popup_box{
  position: absolute;
  top: 18%;
  left: 75%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 320px;
  background: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 30px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  z-index: 9999;
  display: none;
}
.popup_box i{
  font-size: 12px;
  color: #eb9447;
  border: 5px solid #eb9447;
  padding: 20px 10px;
  border-radius: 50%;
  margin: -10px 0 20px 0;
}
.popup_box h1{
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
}
.popup_box label{
  font-size: 14px;
  color: #000;
  line-height: 2;
}
.popup_box .btns{
    margin: 40px 0 0 0;
  }
.btns .btn {
    background: #f2f2f2;
    color: #000;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #808080;
    padding: 6px 30px;
  }
.btns .btn:hover{
  transition: .2s;
  background:#fff;
}

.popup_box1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 244px;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    z-index: 9999;
    display: none;
  }
  .popup_box1 i{
    font-size: 12px;
    color: #eb9447;
    border: 5px solid #eb9447;
    padding: 20px 10px;
    border-radius: 50%;
    margin: -10px 0 20px 0;
  }
  .popup_box1 h1{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }
  .popup_box1 label{
    font-size: 12px;
    color: #000;
  }
  .popup_box1 .btns1{
      margin: 20px 0 0 0;
  }
.btns1 .btn1 {
    background: #f2f2f2;
    color: #000;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #808080;
    padding: 6px 30px;
  }
.btns1 .btn1:hover{
  transition: .2s;
  background:#fff;
}


.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  /* -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between; */
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}


