
.miss_but_1 {background: #D5BD79; margin:10px; text-align:center; line-height:12px; width:45px; border:1px solid #f3bd49; border-radius:5px; padding:3px;}
.miss_but_1 a, .miss_but_1 a:hover, .miss_but_1 a:link {color:#fff;}
.miss_but_2 {margin:10px; text-align:center; line-height:12px; width:45px; border:1px solid #ff0000; border-radius:5px; padding:3px; color:#ff0000}
.miss_but_2 a {color:#ff0000}
.miss_but_3 {background: #4D4D4D; margin:10px; text-align:center; line-height:12px; width:45px; border:1px solid #999999; border-radius:5px; padding:3px; color:#999999}

.cl_tr {text-align: center;font-size: 13px;color: #000000;height: 50px;border-bottom: 2px solid #D5BD79}
.cl_tl {text-align: left;font-size: 13px;color: #000000;height: 50px;border-bottom: 2px solid #D5BD79}
.cl_td   {text-align: center; font-size: 13px;color: #000;height: 40px;border-bottom: 1px dashed #d3d3d3}
.cl_td_l {text-align: left;   font-size: 13px;color: #000;height: 40px;border-bottom: 1px dashed #d3d3d3}
.cl_td_r {text-align: right;  font-size: 13px;color: #000;height: 40px;border-bottom: 1px dashed #d3d3d3}