@charset "utf-8";

/********************************************************
■ Footer 
********************************************************/
#nt_footer {
	background-image: url('http://210.114.18.63/img/footer_bg_image.png'); 
	height: 102px;
}
#nt_footer .nt-links { 
	background:#fafafa; 
	border:1px solid #ddd; 
	border-left:0; 
	border-right:0;  
}
#nt_footer .nt-links ul { 
	list-style: none; 
	margin: 0; padding:0; 
}
#nt_footer .nt-links ul > li { 
	float: left; 
	padding: 0 13px; 
}
#nt_footer ul > li:first-child { 
	padding-left:0;
}
#nt_footer ul > li:last-child { 
	padding-right:0;
}
#nt_footer .nt-links ul > li::after { 
	font-family: dotum;
	font-weight: normal;
	float: right; 
	color:#ccc; 
	content: "/"; 
	margin-right:-15px;
}
#nt_footer .nt-links ul > li:last-child::after { 
	content: ""; 
}
#nt_footer .nt-links ul > li > a { 
	color: #888; 
	white-space:nowrap;	
}
@media all and (max-width:991px) {
	.responsive #nt_footer .nt-links ul > li { 
		float:none; 
		display:inline-block;
	}
}
#nt_footer .nt-container {
	display: flex;
	align-items: center;
	height: 102px;
}
#nt_footer .nt-container .item-circle {
	flex-basis:35px; 
	min-width:35px; 
	width:35px; 
	height:35px; 
	border-radius:50%; 
	font-size:12px; 
	color:#7B7B7B; 
	line-height:35px; 
	text-align:center; 
	background:#252525; 
	border:1px solid #707070; 
	margin-right:22px;
}
#nt_footer .nt-container .item-text {
	width:1040px; 
	height:32px; 
	color:#7B7B7B; 
	font-size:12px;
	line-height: 1.5;
}

@media only screen and (max-width : 767px) {
	#nt_footer {
		position: absolute;
		bottom: 0;
	}
	
	#nt_footer .nt-container {
		display: flex;
		height: 102px;
		width:343px;
	}
	#nt_footer .nt-container .item-circle {
		margin-right: 11px;
	}

	#nt_footer .nt-container .item-text {
		font-size:10px;
		align-self: start;
		margin-top:7px;
	}
}

