#user_cate {margin-left: 0px;} 

#user_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none;background:#fff;color:#333;font-weight:bold;}
#user_cate #user_cate_on {z-index:2;background:#fff;color:#fff;font-weight:bold;border-bottom:1px solid #fff;}


/* #user_cate {margin: 0 25px;}  */
#user_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#user_cate ul {zoom:1;
}
#user_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#user_cate li {
	display:inline-block;
	border-top: -1px solid #BABABA;
	border-left: -1px solid #fff;
	border-right: -1px solid #BABABA;
	padding:5px 0px -1px 0px;
}
#user_cate a {display:block;
	line-height:30px;
	padding:2px 15px 2px 15px;	
	color:#333;
	background:#fafafa;
	border-left: -1px solid #fff;
	border-right: -1px solid #BABABA;
	border-bottom: -1px ridge #BABABA;
	border-top: -1px solid #BABABA;
}
#user_cate li.active a {font-weight:bold; background:#fff; 
	border-bottom:1px solid #fff; 
	border-top: 1px solid #BABABA;
	border-left: 1px solid #BABABA;
	border-right: 1px solid #BABABA;
}
#user_cate a span{
	padding:2px 10px 2px 10px;	
}

.giftbox{
	margin-top: 30px;
	margin-left: 20px;
	font-size: 12px;
}

.giftbox .table th{
	background-color:#F5F5F5;
}

.giftbox .btn.disabled{
	cursor:default;
}

.giftbox .btn-primary,
#request-modal .btn-primary{
	background-color:#cfb56ed0 !important;
	border-color:#e4c980 !important;
}

#request-modal {
	text-align: center;
	padding: 0 !important;
}

#request-modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

#request-modal .modal-dialog {
	width:325px;
	max-width:100%;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

#request-modal .modal-header,
#request-modal .modal-footer{
	display:block;
}

#request-modal .modal-body{
	padding:1.5em;
}

#request-modal .modal-header .close{
	position: absolute;
	right: 10px;
	top: 10px;	
}

#request-modal #gift-name{
	margin-bottom: 10px;
	text-align:center;
}

#request-modal .btn-light{
	background-color: #e2e6ea !important;
	border-color: #dae0e5 !important;
}