@charset "utf-8";

.gradient-border {
border-radius: 3px;
    border-width: 5px !important;
    background: #f7fafc;
    border-color:#38b2ac;
    padding: 10px;
}


/* false9 */
.c999 {color:#999 !important;}
.c000 {color: #000 !important;}
.txt22 {font-size: 22px !important;}
.txt18 {font-size: 18px !important;}
.txt14 {font-size: 14px !important;}
.txt12 {font-size: 12px !important;}
.txt10 {font-size: 10px !important;}
.txt700 {font-weight: 700 !important;}
.txt500 {font-weight: 500 !important;}
.txt300 {font-weight: 300 !important;}
.table_div {border-bottom: 1px solid #eee; padding: 5px 0px 5px 0px; background-color: #fff;}
.table_div2 {border-bottom: 1px solid #ddd; padding: 20px; background-color: #fff; margin-bottom: 10px;}
.table_div3 {border-bottom: 1px solid #eee; padding: 40px 0 40px 0; text-align: center;}
.table_div_n {float: left; width: 15%; text-align: center; line-height:70px;}
.table_div_l {float: left; width: 75%; text-align: left;}
.table_div_r {float: right; width: 10%; text-align: right;}
.table_div_r img {
	width: 75px;

}

.elc {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 90%; display: block;}
.cb {clear: both !important;}
.mb10 {line-height:40px;}

.main_color {color:#38b2ac;}

.board_div {background-color: #fff; padding: 10px;}
.board_div2 {background-color: #f1f1f1;}
.board_div_b {background-color: #fff; padding: 10px; border-top:1px solid #eee; }

.board_div_ser {float: left; width: 85%;}
.board_div_btn {float: right; width: 15%;}
.board_div_btn2 {padding-left: 10px;}
.board_div_ul01 {float: left; width: 85%;}
.board_div_ul02 {float: left; width: 15%; text-align: right;}
.sch_input {width:100%; height:50px; background-color:#f1f1f1; font-size: 14px; color:#666; padding-left:15px; border:0px; border-top-left-radius: 4px; border-bottom-left-radius:4px;}
.sch_btn {
    width: 100%;
    height: 50px;
    background-color: #4a5568;
    font-size: 16px;
    color: #ffffff;
    border: 0px;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.write_btn {width:100%; height:50px; background-color:#38b2ac; font-size: 14px; color:#fff; border:0px; display: block; border-radius: 4px;}

#bo_cate h2 {width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {padding-left:1px;zoom:1;padding-bottom: 10px;padding-top:8px;}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {float:left;margin-bottom:-1px;width:25%}
#bo_cate a {display:block;position:relative;margin-left:-1px;padding:6px 5px 5px;color:#333;text-align:center;font-size:14px;font-weight:300;line-height:30px;cursor:pointer;}
#bo_cate a:hover {color:#38b2ac;font-weight:bold;}
#bo_cate a:focus,  #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {z-index:2;color:#38b2ac;font-weight:bold}


.pg_wrap {clear:both;margin:10px 0;text-align:center}
.pg {display:inline-block}
.pg_page, .pg_current {display:inline-block;padding:0 10px;height:40px;color:#000;line-height:38px;vertical-align:middle;}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {background:#fff;border:1px solid #ddd;border-radius:3px;width:40px;}
.pg_start {background:url(img/btn_first.gif) no-repeat 50% 50% #fff;width:40px;height:40px ;text-indent:-999px;overflow:hidden}
.pg_prev {background:url(img/btn_prev.gif) no-repeat 50% 50% #fff;width:40px;height:40px ;text-indent:-999px;overflow:hidden}
.pg_next {background:url(img/btn_next.gif) no-repeat 50% 50% #fff;width:40px;height:40px ;text-indent:-999px;overflow:hidden}
.pg_end {background:url(img/btn_end.gif) no-repeat 50% 50% #fff;width:40px;height:40px ;text-indent:-999px;overflow:hidden}
.pg_current {display:inline-block;background:#38b2ac;color:#fff;font-weight:normal;border-radius:3px;line-height:40px;width:40px;border:0px;}

.view_div_t_ul01 {clear: both;float:left;margin-top: 15px; }
.view_div_t_ul02 {float: right; width:30%; margin-top: 24px; text-align: right;}
.view_div_t_ul02_ch span {padding:5px 15px 7px 15px; border:1px solid #ddd; border-radius: 20px;}

.btn_confirm3 {position: absolute; margin-top: -110px; margin-left: 10px;}
.btn_confirm {color:#999; font-size: 12px;}

.option_d {padding: 10px; text-align: right; font-size: 14px; font-weight: 300; padding-right: 0px;}

.btn_submit {background-color:#38b2ac !important;}
.nobd {border-top:0px}
    
.board_sch {margin:0px; background-color:#fff;}
.board_sch li {float:left;}
.board_sch01 {width:20%; border-right:1px solid #eee; box-sizing: border-box;}
.board_sch02 {width:20%; border-right:1px solid #eee; box-sizing: border-box;}
.board_sch03 {width:60%; border-right:1px solid #eee; box-sizing: border-box;}
.board_sch04 {width:20%;}
.board_sch_sel {width:100%; height:50px; background-color:#f9f9f9; border:0px; padding:5px; font-size:14px;}
.board_sch_input {width:100%; height:50px; background-color:#fff; border:0px; padding:5px 10px 5px 10px; font-size:14px important;}
.board_sch_btn {width:100%; height:50px; background-color:#242424; border:0px; padding:5px; font-size:14px; color:#fff;}
#map {width:100%;height:760px;}

.u_list_div {width:100%; margin-bottom: 1px;}
.u_list_div_t {width:100%; height:300px; padding-top: 50px;}
.u_list_div_t_bg {background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); height: 250px;}
.chk_is {position: absolute; margin-top: 20px; margin-left: 20px;}
.u_list_div_t01 {font-size: 20px; font-weight: 500; color: #fff; margin-left: 20px;}
.u_list_div_t01 li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 90%; display: block; padding-top: 130px;}
.u_list_div_t02 {border-bottom: 1px solid rgba(255,255,255,0.2); margin-bottom: 15px; padding-bottom: 15px; margin-left: 20px; margin-right: 20px; font-size: 13px;}
.u_list_div_t02 li {display: inline-block; margin-right: 15px; color: #fff; font-weight: 100;}
.u_list_div_t03 {letter-spacing: -0.5px; font-weight: 100; font-size: 15px; color: rgba(255,255,255,0.8); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 90%; display: block; margin-left: 20px; margin-left: 20px;}
            
.btm_btn01 {width:100%; padding: 10px;}
.btm_btn01_2 {width:100%; padding: 10px; padding-top:0px;}
.btm_btn01_2 li {}
.btm_btn02 {width:100%; overflow: hidden; padding: 10px; text-align: center; border-top:1px solid rgba(0,0,0,0.1);}
.btm_btn02 li {width:20%; display: inline-block;}

.btm_btn02_2 {clear: both; width:100%; padding: 15px; text-align: center; background-color: #f1f1f1;}
.btm_btn02_2 li {width:20%; display: inline-block;}

.btm_btn_b01 {width:100%; background-color: #999; line-height: 50px; border-radius: 4px; text-align: center; display: block; color:#fff; margin-bottom: 10px;}
.btm_btn_b02 {width:100%; background-color: #38b2ac; line-height: 50px; border-radius: 4px; text-align: center; display: block; color:#fff; display: block;}
.btm_btn_b03 {width:100%; background-color: #f1f1f1; line-height: 30px; border-radius: 4px; text-align: center; color:#000; border: 0px; display: block;}
.btm_btn_b04 {width:100%; border: 0px; background-color: #38b2ac; line-height: 50px; border-radius: 4px; text-align: center; color:#fff;}
.btm_btn_b03_1 {width:100%; background-color: #fff; line-height: 30px; border-radius: 4px; text-align: center; color:#000; border: 0px; display: block;}

.btn_rep {padding:7px 10px 7px 10px; border:1px solid #eee; border-radius: 20px; float: right;}

.view_div01 {width:100%; background-color: #fff;}
.view_div02 {clear:both; width:100%; background-color: #fff; margin-bottom: 10px;}
.view_div03 {width:100%; background-color: #f3f3f3;}
.view_div04 {width:100%; background-color: #fff;}
.view_div_tit {border-bottom: 1px solid #eee; padding: 20px; text-align: left;}
.view_div_ca {font-size: 14px; font-weight: 500; color:#000; padding:5px 10px 5px 10px; background-color: #f1f1f1; border-radius: 4px; width:auto;}
.view_div_tit00 {float: left;margin-bottom: 15px;}
.view_div_tit01 {font-size: 24px; font-weight: 500; color:#000; line-height:27px;}
.view_div_tit02 {font-size: 14px; color:#000;}
.view_div_tit02 span {font-size: 14px; color:#000; font-weight: 300;}
.view_div_tit03 {font-size: 12px; color:#999; font-weight: 300;margin-top: 5px;}
.view_div_info {border-bottom: 1px solid #ddd; padding: 20px; text-align: left; font-size: 14px; font-weight: 300;}
.view_div_info01 {font-size: 14px; color:#000; font-weight: 300;}
.view_div_info03 {font-size: 14px; color:#000; font-weight: 300; margin-top: 10px;}
.info1 {float: left; width: 80px; font-size: 14px; color:#000; font-weight: 500;}
.info2 {float: left;}
.info2 span {font-size:11px; color:#999; font-weight: 500;}
.view_div_btn_out { margin-top: 0px; width:100%;}
.view_div_btn_out img { width:100%; height:auto;}
.view_div_btn_out li {float: left; text-align: center; width:50%;}
.view_div_btn_out01 a {width:100%; line-height: 40px; display: block; text-align: center; font-size: 14px; color:#38b2ac; font-weight: 700; border: 1px solid #ddd; border-radius: 2px; }
.view_div_btn_out01 img {width:18px;}
.view_div_btn_out02 a {width:100%; line-height: 40px; display: block; text-align: center; font-size: 14px; color:#000; font-weight: 700; border: 1px solid #ddd; border-radius: 2px; border-left: none;}
.view_div_btn_out02 img {width:18px;}

.view_f {width: 100%; text-align: right; font-weight: normal; line-height: 25px;}
#bo_v_file {}
#bo_v_file h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {}
#bo_v_file a {display:inline-block;color:#000;word-wrap:break-word; font-size: 12px;}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file img {float:left;}
.bo_v_file_cnt {display:inline-block;}



.view_bg {height:300px;}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 50px;
    border-bottom: 0px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-size:16px;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:33%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #eee;
    border-left: none;
    border-top: none;
    background: #fafafa;
    overflow: hidden;
    position: relative;
    font-weight: normal
}
    
ul.tabs li:last-child {
    float: left;
    text-align:center;
    cursor: pointer;
    width:34%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #eee;
    border-right:none;
    border-left: none;
    border-top: none;
    background: #fafafa;
    overflow: hidden;
    position: relative;
    font-weight: normal
}
    
ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-weight: 700
}
.tab_container {
    border-bottom: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
}
.tab_content {
    padding: 0px;
    font-size: 12px;
    display: none;
}
 #containers {
    width: 100%;
    margin: 0 auto;
}
    
.view_info_is {width:100%; padding: 15px 10px 15px 10px; border-bottom: 1px solid #eee;}
.view_info_is2 {width:100%; padding: 20px;}
.view_info_is3 {width:100%;}
.view_info_is_tit {font-size: 14px; font-weight: 700; color:#000; margin-bottom: 10px;}
.view_info_is_con {font-size: 14px; font-weight: 300; color:#000;}
.view_info_is_shot {font-size: 11px; font-weight: 300; color:#999; text-align: center; line-height: 40px;}

.view_info_menu {border: 1px solid #000; margin: 20px; padding: 20px;}
.view_info_menu_i_top {width: 100%; text-align: center; border-bottom: 1px solid #eee;}
.view_info_menu_i_btm {width: 100%; text-align: center;}
.ico_t {margin-top: -40px; width:40px;}
.ico_b {margin-bottom: -55px; width:40px;}
.noimgs {width:120px;}
.view_info_menu_box01 {font-size: 16px; font-weight: 700; color:#000;}
.view_info_menu_box02 {font-size: 14px; font-weight: 300; color:#666; margin-top: 5px;}
.view_info_menu_box03 {font-size: 16px; font-weight: 700; color:#000; margin-top: 5px;}
.view_info_menu_box_ul01 {float: left; width:60%;}
.view_info_menu_box_ul02 {float: right; width:40%; text-align: right;}
.view_info_menu_box_ul02 img {width:120px !important; height:auto !important;}
.view_info_menu_box {border-bottom: 1px solid #eee; padding-bottom: 20px; padding-top: 20px;}
            
.view_info_is_lbox {border: 1px solid #dedede; padding: 20px;}
.view_info_is_l2box {font-size: 12px; color:#777; margin-top: 15px;}
.view_info_is_l2box li {margin-top: 5px; line-height: 16px;}

.ico_news {width:18px}


.write_box {width:100%; margin-bottom: 10px;}
.write_box2 {width:100%; padding: 0px 15px 15px 15px; background-color: #fff; border-bottom:1px solid #eee; }
.write_box3 {width:100%; margin-bottom: 10px; padding: 0px 15px 15px 15px; background-color: #fff; border-bottom:1px solid #eee; }
.write_box4 {width:100%; background-color: #fff; padding: 0px 15px 15px 15px; border-bottom: 1px solid #eee;}
.write_box5 {width:100%; margin-bottom: 10px; background-color: #fff; padding: 0px 15px 15px 15px;}
.write_box_div {padding: 15px; background-color: #fff; font-size: 12px; color: #666; font-weight: 300; border-bottom:1px solid #ccc;}
.write_box_div2 {padding: 15px 15px 15px 15px; background-color: #fff; font-size: 11px; color: #666; font-weight: 300;}
.write_box_div3 {padding: 5px 0px 10px 0px; background-color: #fff; font-size: 11px; color: #666; font-weight: 300;}
.write_box_div4 {padding: 10px 15px 0px 15px; background-color: #fff; font-size: 11px; color: #666; font-weight: 300;}

.write_input {width:100%; border-bottom:1px solid #eee; border-top:0px; border-left: 0px; border-right: 0px; height:60px; background-color: #fff; font-size: 14px !important; padding-left: 15px; padding-right: 10px;}
.write_input2 {width:100%; border-bottom:1px solid #eee; border-top:0px; border-left: 0px; border-right: 0px; height:45px; background-color: #fff; font-size: 12px; padding-left: 15px; padding-right: 10px; line-height: 45px;}

.write_input:focus {background-color:#f9f9f9;}
.write_input2:focus {background-color:#f9f9f9;}

.write_input_sel_50l {float:left; width:50%; border-bottom:1px solid #eee; border-top:0px; border-right: 1px solid #eee; border-left: 0px; height:45px; background-color: #fff; font-size: 12px; padding-left: 12px; padding-right: 10px; box-sizing: border-box; color:#666}
.write_input_50r2 {float:right;width:50%; border-bottom:1px solid #eee; border-top:0px; border-left: 0px; border-right: 0px; height:45px; background-color: #fff; font-size: 12px; padding-left: 15px; padding-right: 10px; box-sizing: border-box;}

.write_input_50r2:focus {background-color:#f9f9f9;}

.write_input_50l {float:left;width:50%; border-bottom:1px solid #eee; border-top:0px; border-right: 1px solid #eee; border-left: 0px; height:45px; background-color: #f9f9f9; font-size: 12px; padding-left: 15px; padding-right: 10px; box-sizing: border-box;}
.write_input_50r {float:right;width:50%; border-bottom:1px solid #eee; border-top:0px; border-left: 0px; border-right: 0px; height:45px; background-color: #f9f9f9; font-size: 12px; padding-left: 15px; padding-right: 10px; box-sizing: border-box;}

.write_input_50l:focus {background-color:#f9f9f9;}
.write_input_50r:focus {background-color:#f9f9f9;}

.write_input_50lw {float:left;width:50%; border-bottom:1px solid #eee; border-top:0px; border-right: 1px solid #eee; border-left: 0px; height:45px; background-color: #fff; font-size: 12px; padding-left: 15px; padding-right: 10px; box-sizing: border-box;}
.write_input_50rw {float:right;width:50%; border-bottom:1px solid #eee; border-top:0px; border-left: 0px; border-right: 0px; height:45px; background-color: #fff; font-size: 12px; padding-left: 15px; padding-right: 10px; box-sizing: border-box;}

.write_input_50lw:focus {background-color:#f9f9f9;}
.write_input_50rw:focus {background-color:#f9f9f9;}
    
.write_input2_100 {width:100%; border:0px; height:45px; background-color: #f1f1f1; font-size: 12px; padding-left: 15px; padding-right: 10px; box-sizing: border-box;}
.write_input_file_100 {width:100%; height:35px; background-color: #fff; font-size: 12px; padding:6px; box-sizing: border-box; border:1px solid #eee;}
.write_input2_100:focus {border: 1px solid #ddd; background-color: #f1f1f1;}


.write_box4_l {float: left; width: 50%; height:45px; padding: 0px 3px 0px 0px;}
.write_box4_r {float: right; width: 50%; height:45px; padding: 0px 0px 0px 3px;}
.write_box4_c {width: 100%; padding-top: 6px}

.view_info_is_con img {max-width: 100%;}

/* false9 */


/* 다음지도 */
.mapwrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.mapwrap * {padding: 0;margin: 0;}
.mapwrap .mapinfo {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.mapwrap .mapinfo:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.mapinfo .maptitle {padding: 2px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.mapinfo .mapclose {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('<a href="<a href="http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png">http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png</a>"><a href="http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png&lt;/a&gt;">http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png&lt;/a&gt;</a>');}
.mapinfo .mapclose:hover {cursor: pointer;}
.mapinfo .mapbody {position: relative;overflow: hidden;padding-top:10px}
.mapinfo .mapdesc {position: relative;margin: 13px 0 0 90px;height: 55px;}
.mapdesc .mapellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.mapdesc .mapjibun {font-size: 12px;color: #888;margin: 4px 0 2px 0;}
.mapinfo .mapimg {position: absolute;top: 8px;left: 6px;width: 73px;height: 71px;border:0;color: #888;overflow: hidden;padding-top:10px}
.mapinfo:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('<a href="<a href="http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png">http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png</a>"><a href="http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png&lt;/a&gt;">http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png&lt;/a&gt;</a>')}
.mapinfo .maplink {color: #5085BB;}


/* 폼 테이블 */
.tbl_frm011 {margin:0 0 0px;}
.tbl_frm011 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm011 th {padding:7px 8px; color:#555555;border:0px solid #ddd;border-left:0;text-align:left}
.tbl_frm011 td {padding:7px 10px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:transparent}
.tbl_frm011 textarea, .frm_input {border:1px solid #999;background:#f7f7f7;color:#000;vertical-align:middle;line-height:2em}
.tbl_frm011 textarea {padding:2px 2px 3px}
.frm_input {height:22px}
.tbl_frm011 textarea {width:98%;height:100px}
.tbl_frm011 a {text-decoration:none}
.tbl_frm011 .frm_file {display:block;margin-bottom:5px}
.tbl_frm011 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

.tbl_sm {margin:0 0 0px}
.tbl_sm table {width:100%;border-collapse:collapse;border-spacing:0;color:#000;}
.tbl_sm th {width:60px;padding:7px 13px; color:#000;border:1px solid #e9e9e9;border-left:0;text-align:center;}
.tbl_sm td {padding:3px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.tbl_sm textarea, .frm_input {border:1px solid #e9e9e9;background:#f7f7f7;color:#000;vertical-align:middle;line-height:2em}
.tbl_sm textarea {padding:2px 2px 3px}
.frm_input {height:22px}
.tbl_sm textarea {width:98%;height:100px}
.tbl_sm a {text-decoration:none}
.tbl_sm .frm_file {display:block;margin-bottom:5px}
.tbl_sm .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

.tbl_list {margin:0 0 0px;width:100%;}
.tbl_list table {width:70%;border-collapse:collapse;border-spacing:0; margin-left:20px;}
.tbl_list th {width:150px;padding:7px 1px;color:#000;border:1px solid #e9e9e9;border-left:0;text-align:center;}
.tbl_list td {padding:3px 0px 0 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.tbl_list textarea, .frm_input {border:1px solid #e4eaec;background:#f7f7f7;color:#000;vertical-align:middle;line-height:2em}
.tbl_list textarea {padding:2px 2px 10px}
.frm_input {height:22px}
.tbl_list textarea {width:98%;height:100px}
.tbl_list a {text-decoration:none; }
.tbl_list .frm_file {display:block;margin-bottom:5px}
.tbl_list .frm_info {display:block;padding:0 0 5px;line-height:1.4em}


.barras {
  width:240px; 
  margin:1px auto;
}
.barra {
  width:240px; 
  height:25px; 
  background:#CCC; 
  margin:0px;
}
.barra-nivel {
  height:25px; 
  background:#20605B;
  width:1px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  transition: width 1s ease;
}
.valor-nivel {
  line-height:23px; 
  color:#fff; 
  margin-left:10px; 

  font-size:12px;
}

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_gall a.btn_b01 {}
#bo_gall a.btn_b01:focus, #bo_gall a.btn_b01:hover {}
#bo_gall a.btn_b02 {}
#bo_gall a.btn_b02:focus, #bo_gall a.btn_b02:hover {}
#bo_gall a.btn_admin {} /* 관리자 전용 버튼 */
#bo_gall a.btn_admin:focus, #bo_gall .btn_admin:hover {}

/* 읽기 버튼 */
#bo_v a.btn_b01 {}
#bo_v a.btn_b01:focus, #bo_v a.btn_b01:hover {}
#bo_v a.btn_b02 {}
#bo_v a.btn_b02:focus, #bo_v a.btn_b02:hover {}
#bo_v a.btn_admin {} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {} /* 서식단계 진행 */
#bo_w .btn_submit {}
#bo_w button.btn_submit {}
#bo_w fieldset .btn_submit {}
#bo_w .btn_cancel {}
#bo_w button.btn_cancel {}
#bo_w .btn_cancel:focus, #bo_w .btn_cancel:hover {}
#bo_w a.btn_frmline, #bo_w button.btn_frmline {} /* 우편번호검색버튼 등 */
#bo_w button.btn_frmline {}

/* 기본 테이블 */
/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w table {}
#bo_w caption {}
#bo_w .frm_info {}
#bo_w .frm_address {}
#bo_w .frm_file {}

#bo_w .tbl_frm01 {}
#bo_w .tbl_frm01 th {}
#bo_w .tbl_frm01 td {}
#bo_w .tbl_frm01 textarea, #bo_w tbl_frm01 .frm_input {}
#bo_w .tbl_frm01 textarea {}
/*
#bo_w .tbl_frm01 #captcha {}
#bo_w .tbl_frm01 #captcha input {}
*/
#bo_w .tbl_frm01 a {}

/* 필수입력 */
#bo_w .required, #bo_w textarea.required {}

#bo_w .cke_sc {}
#bo_w button.btn_cke_sc{}
#bo_w .cke_sc_def {}
#bo_w .cke_sc_def dl {}
#bo_w .cke_sc_def dl:after {}
#bo_w .cke_sc_def dt, #bo_w .cke_sc_def dd {}
#bo_w .cke_sc_def dt {}
#bo_w .cke_sc_def dd {}

/* ### 기본 스타일 커스터마이징 끝 ### */
#mainImg { border:0 !important; margin-top:20px;}
.td_subject img {margin-left:3px}

/* 갤러리 목록 */
#bo_gall h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#bo_gall #gall_ul {margin:10px 0 0;padding:0;list-style:none;zoom:1}
#bo_gall #gall_ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_gall .gall_li {float:left; }

#bo_gall .gall_con { padding-bottom:40px;list-style:none; margin-bottom:80px;}
#bo_gall .gall_con li {margin:0 0 7px}
#bo_gall .gall_con .gall_subject {display:inline-block;width:50px}

#bo_gall .gall_now .gall_text_href a {color:#ff3061}

#bo_gall .gall_href a:link, #bo_gall .gall_href a:focus, #bo_gall .gall_href a:hover {text-decoration:none; float:left;}
#bo_gall .gall_href strong, #bo_gall .gall_href span {display:inline-block;background:#f7f7f7;text-align:center;line-height:10em}

#bo_gall .gall_text_href { }
#bo_gall .gall_text_href a {font-size:22px;color:#000000; }
#bo_gall .gall_text_href span {display:inline !important; margin-right:50px; font-weight:bold;}
#bo_gall .gall_text_href img {margin:0 0 0 4px}
.btn_detail {display:inline-block; height:30px; padding:0 10px; line-height:26px; color:#e9492f; font-size:18px; border:1px solid #e9492f; text-align:center; box-sizing:border-box; font-family:'LGSmHan'; margin:30px 0 0 30px;}


/* 게시판 목록 공통 */
.bo_fx {margin-bottom:5px;zoom:1}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
#bo_list_total {float:left;padding-top:5px}
.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px}
.btn_bo_adm input {padding:7px;border:0;background:#e8180c;color:#fff;text-decoration:none;vertical-align:middle}
.bo_notice td {background:#f7f7f2}
.bo_notice td a {font-weight:bold}
.td_num strong {color:#000}
.bo_cate_link {display:inline-block;margin:0 3px 0 0;padding:0 6px 0 0;border-right:1px solid #e7f1ed;color:#999 !important;font-weight:bold;text-decoration:none} /* 글제목줄 분류스타일 */
.bo_current {color:#e8180c}

#bo_sch {margin-bottom:10px;padding-top:5px;text-align:center}
#bo_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}

#bo_gall { margin:70px auto 0 auto; width:1010px !important; min-height:500px;}
#bo_gall li.empty_list {padding:85px 0;text-align:center}

/* 게시판 쓰기 */
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

#autosave_wrapper {position:relative}
#autosave_pop {display:none;z-index:10;position:absolute;top:24px;right:117px;padding:8px;width:350px;height:auto !important;height:180px;max-height:180px;border:1px solid #565656;background:#fff;overflow-y:scroll}
html.no-overflowscrolling #autosave_pop {height:auto;max-height:10000px !important} /* overflow 미지원 기기 대응 */
#autosave_pop strong {position:absolute;font-size:0;line-height:0;overflow:hidden}
#autosave_pop div {text-align:right}
#autosave_pop button {margin:0;padding:0;border:0;background:transparent}
#autosave_pop ul {margin:10px 0;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#autosave_pop li {padding:8px 5px;border-bottom:1px solid #e9e9e9;zoom:1}
#autosave_pop li:after {display:block;visibility:hidden;clear:both;content:""}
#autosave_pop a {display:block;float:left}
#autosave_pop span {display:block;float:right}
.autosave_close {cursor:pointer}
.autosave_content {display:none}

/* 게시판 읽기 */
#bo_v {margin-bottom:20px;margin-top:20px; padding-bottom:20px; width:1200px; margin:0 auto;}

#bo_v_table {position:absolute;top:0;left:0px;margin:0;padding:5px 1px 0 10px;width:250px; height:35px;background:#635C82;color:#fff;font-size:2.5em;
							font-weight:bold;line-height:1.0em;font-family: 'Righteous', cursive;text-align:center;}

#bo_v_title { padding:6px 0 5px 10px;border-bottom:0px solid #dde4e9; font-size:30px;color:#000000; font-weight:300; text-align:center;}

#bo_v_info {padding:0 0 10px;border-bottom:1px solid #ddd}
#bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_info strong {display:inline-block;margin:0 15px 0 5px;font-weight:normal}
#bo_v_info .sv_member,
#bo_v_info .sv_guest,
#bo_v_info .member,
#bo_v_info .guest {font-weight:bold}

#bo_v_link {}
#bo_v_link h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding:0 10px;border-bottom:1px solid #eee;background:#f5f6fa}
#bo_v_link a {display:inline-block;padding:8px 0 7px;width:100%;color:#000;word-wrap:break-word}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
.bo_v_link_cnt {display:inline-block;margin:0 0 3px 16px}

#bo_v_top {margin:0 0 10px;padding:10px 0;zoom:1}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {margin:0;padding:0;list-style:none}

#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_bot ul {margin:0;padding:0;list-style:none}

.bo_v_nb {float:left}
.bo_v_nb li {float:left;margin-right:5px}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px}

#bo_v_atc {min-height:200px;height:auto !important;height:80px; }
#bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_v_img {margin:0 0 10px;width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {margin-bottom:20px;max-width:100%;height:auto}

#bo_v_con {width:100%;line-height:1.7em;word-break:break-all;overflow:hidden; color:#333;}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act strong {color:#ff3061}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}

#bo_v_sns {margin:0 0 20px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;margin:0 5px 0 0}

/* 게시판 댓글 */
.cmt_btn{background:url('./img/cmt_btn.png') no-repeat 85px 8px;text-align:left ;width:100% ;border:0;color:#ed6478;font-weight:bold;font-size:1.25em;margin: 30px 0 0px;padding:0  0 10px }
.cmt_btn_op{background:url('./img/cmt_btn.png') no-repeat 85px  -23px}
#bo_vc {}
#bo_vc h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc article {margin:20px 0;position:relative}
#bo_vc article .profile_img img{border-radius:50%}
#bo_vc header {}
#bo_vc header:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px;}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
.bo_vc_hdinfo{float:right;color:#777}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc .cmt_contents {font-size: 14px;}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:underline;color:#ed6479}
#bo_vc_empty {
	margin: 0;
	padding: 35px 0 !important;
	color: #38b2ac;
	text-align: center;
}
#bo_vc #bo_vc_winfo {float:left}

.bo_vc_act {text-align:right;margin:0;list-style:none;zoom:1}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {display:inline-block;}
.bo_vc_act li a{padding:0 5px;line-height:23px}

.bo_vc_w {position:relative;margin:10px 0;display:block;}
.bo_vc_w:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.bo_vc_w #char_cnt {display:block;margin:0 0 5px}
.bo_vc_w textarea{border:1px solid #ccc;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;width:100%;height:120px;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);}
#wr_secret{}
.bo_vc_w_info{margin:10px 0;float:left}
.bo_vc_w_info:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w_info .frm_input{float:left;margin-right:5px}
.bo_vc_w_info #captcha{padding-top:10px;display:block;clear:both}
.bo_vc_w .btn_confirm2 {float:left;margin-top:10px}
.bo_vc_w .btn_confirm{float:right;margin-top:10px}
.bo_vc_w .btn_confirm label{display:inline-block;margin-right:10px;border-radius:3px;font-size:1.5em;text-align:center;}
.bo_vc_w .btn_submit{height:45px;padding:0 20px;border-radius:3px;font-weight:bold;font-size:1.083em; width:100%;color: #fff;}
.bo_vc_w_wr:after {display:block;visibility:hidden;clear:both;content:""}

#bo_vc_send_sns{display:inline-block;float:left}
#bo_vc_sns {display:inline-block;margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 5px 0 0}
#bo_vc_sns .sns_li_f{border-radius:3px;background:#3a589b;height:40px;line-height:40px;padding:0 0 0 10px}
#bo_vc_sns .sns_li_t{border-radius:3px;background:#00aced;height:40px;line-height:40px;padding:0 0 0 10px}
#bo_vc_sns .sns_li_off{background:#bbb}
#bo_vc_sns a{display:inline-block;padding:0 15px 0 5px;}
#bo_vc_sns input {margin:0 5px 0 0 }


.inn { margin:100px auto; width:100%; text-align:center;}


.categ { width:200px; height:300px; position:absolute; margin-left:-220px;}
.categ ul {}
.categ ul li { font-size:16px; margin:12px 20px; font-weight:bold; padding-left:20px; height:28px; line-height:28px;}
.categ ul li a { color:#000;}
.categ ul li a:hover { color:#d1ad73;}

.categ .categ01 { font-weight:normal; font-size:18px;}
.tbl_view { width:900px; margin:0 auto;}

@media only screen and (max-width: 768px) {

.gall_li { width:100% !important;; height:auto !important;} 
.gall_text_href { width:100% !important;; height:auto !important;} 
.gall_href img { width:100% !important;; height:auto !important; border-radius:10px;} 
#page-nav { top:0 !important;}

#bo_v_top { margin:60px 20px 0 20px !important;}	
#bo_gall { width:100% !important; margin-top:10px; padding:0 !important;}
#bo_gall .gall_con { width:100%; margin-bottom:0 !important; padding-bottom:0 !important;}
#bo_gall .gall_con li { width:100%; padding:10px;}

#mainImg img { height:0 !important;}
#bo_v_atc { margin: 0 10px;}
#imgList { width:100% !important; height:auto !important; margin:0 !important;}

#imgList li img { width:100% !important; height:auto !important; border-radius:10px; }
#imgList li { padding:0 !important; width:100%; margin:5px 0 !important;}

#bo_gall .gall_text_href { padding:4px 10px !important; font-size:14px !important;}

.inn { margin:30px auto !important;}
.inn img { width:100% !important; height:auto !important;}
#bo_v_title { font-size:20px;}


.categ { display:none;}
#bo_gall .gall_text_href a { font-size:18px;}

.subb { display:none !important;}

#mainImg { margin-top:20px;}
	
}





@media (min-width: 970px){
	.btm_btn01,
	.btm_btn01 {
		width: initial;
		float: right;
	}
	.btm_btn01_2 li {
		float: left;
		margin-right: 10px;
	}

	.btm_btn_b01,
	.btm_btn_b04,
	.btm_btn_b02 {
		width: 200px;
	}
	.btm_btn01 li {
		float: left;
		margin-left: 10px;
	}
}

