@charset "utf-8";

.register .list-group-item {
	padding-left:0;
	padding-right:0;
	border-left:0;
	border-right:0;
}
@media all and (max-width:575px) {
	.register .list-group-item {
		padding-left:1.0rem;
		padding-right:1.0rem;
	}
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: #e4c980;
	background-color: #cfb56ed0;
  }
  
  .custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	border-color: #fff;
  }
  
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
	color: #fff;
	background-color:  #fff;
	border-color:  #fff;
  }

  .btn-primary {
	color: #fff;
	background-color:  #e4c980;
	border-color:  #e4c980;
  }
  
  .btn-primary:hover {
	color: #fff;
	background-color: #cfb56ed0;
	border-color: #cfb56ed0;
  }
  
  .btn-primary:focus, .btn-primary.focus {
	color: #fff;
	background-color: #cfb56ed0;
	border-color:#cfb56ed0;
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #cfb56ed0;
	border-color: #cfb56ed0;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #e4c980;
	border-color: #e4c980;
  }

 